<html ng-app="siqApp">
<head>
   <meta charset="utf-8">
   <title></title>


   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

   <!-- Optional theme -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

   <style>
      .clickable{
         cursor: pointer
      }
   </style>

</head>
<body ng-controller="siqController as siq">
<div class="container">
   <div class="row" ng-repeat="entry in siq.data">
      <div class="panel panel-default">
         <div class="panel-heading">
            <span ng-click="siq.getEntry($index)" class ="clickable">{{entry.subject}}</span>
                  <span class="pull-right">
                     <span class="clickable glyphicon glyphicon-pencil text-success" ng-click="siq.getEntry($index)"></span> &nbsp;
                     <span class="clickable glyphicon glyphicon-trash text-danger" ng-click="siq.deleteEntry($index)"></span>
                  </span>
         </div>
         <div class="panel-body" ng-show="siq.panelNum == $index">{{entry.content}}
            <button class="btn btn-warning">Edit</button>
         </div>
         <div>
            <form>
               <div class="form-group">
                  <label for="subject">Subject</label>
                  <input type="text" class="form-control" id="editSubject" placeholder="Subject" ng-model="entry.subject">
               </div>
               <div class="form-group">
                  <label for="content">Content</label>
                  <textarea id="editContent" class="form-control" rows="3" ng-model="entry.content"></textarea>
               </div>
               <button type="submit" class="btn btn-default" ng-click="siq.updateEntry(entry)">Submit</button>
            </form>
         </div>
      </div>

   </div>

   <form>
      <div class="form-group">
         <label for="subject">Subject</label>
         <input type="text" class="form-control" id="subject" placeholder="Subject" ng-model="siqSubject">
      </div>
      <div class="form-group">
         <label for="content">Content</label>
         <textarea id="content" class="form-control" rows="3" ng-model="siqContent"></textarea>
      </div>
      <button type="submit" class="btn btn-default" ng-click="siq.postEntry( siqSubject, siqContent )">Submit</button>
   </form>
</div>
<pre>{{ siq.data | json }}</pre>
<script>
   var app = angular.module('siqApp', []);
   app.controller('siqController', function($scope, $http){

      var siq = this;

      $http.get('http://localhost:3000/api/v1/entries.json')
              .then(function(response){
                 siq.data = response.data;
              });

      siq.panelNum = -1;

      siq.getEntry = function(index) {
         siq.panelNum = index;
         var id = siq.data[index]._id;
         $http.get('http://localhost:3000/api/v1/entries/' + id + '.json')
                 .then(function(response){
                    siq.data[index] = response.data;
                 });
      };

      siq.deleteEntry = function(index){
         var id = siq.data[index]._id;
         siq.data.splice(index, 1);
         $http.delete('http://localhost:3000/api/v1/entries/' + id);
      };

      siq.postEntry = function(subject, content){
         // {"subject":"Two","content":"content2"}
         var entry = {};
         entry.subject = subject;
         entry.content = content;
         $http.post('http://localhost:3000/api/v1/entries.json', entry)
                 .then(function(res) {
                    // this callback will be called asynchronously
                    // when the response is available

                    console.log("Success: " + res.data);
                    entry._id = res.data;
                    siq.data.push(entry);
                 }, function(res) {
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                    console.log("Error: " + res.data);
                 });
      };

      siq.updateEntry = function(entry){
         var id = entry._id;
         //var entry = {};
         //entry.subject = 'a' + siq.data[index].subject;
         //entry.content = siq.data[index].content + 'z';
         $http.put('http://localhost:3000/api/v1/entries/' + id + '.json', entry);

      };

   });
</script>
</body>
</html>