<html ng-app="siqApp">
	<head>
		<meta charset="utf-8">
		<title></title>

		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
		
		<style>
			.clickable{
				cursor: pointer
			}
		</style>
		
	</head>
	<body ng-controller="siqController as siq">
		<div class="container">
			<div class="row" ng-repeat="entry in siq.data">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span ng-click="siq.getEntry($index)" class ="clickable">{{entry.subject}}</span>
						<span class="clickable pull-right glyphicon glyphicon-trash text-danger" ng-click="siq.deleteEntry($index)"></span>
					</div>
					<div class="panel-body" ng-show="siq.panelNum == $index">{{entry.content}}</div>
				</div>
			</div>
			<form>
				<div class="form-group">
					<label for="subject">Subject</label>
					<input type="text" class="form-control" id="subject" placeholder="Subject">
				</div>
				<div class="form-group">
					<label for="content">Content</label>
					<textarea id="content" class="form-control" rows="3"></textarea>
				</div>
				<button type="submit" class="btn btn-default" ng-click="siq.postEntry('subjectx','contentx')">Submit</button>
			</form>
		</div>
		<pre>{{ siq.data | json }}</pre>
		<script>
			var app = angular.module('siqApp', []);
			app.controller('siqController', function($scope, $http){
				
				var siq = this;
				
				$http.get('http://localhost:3000/api/entries')
					.then(function(response){
						siq.data = response.data;
					});
				
				siq.panelNum = -1;
				
				siq.getEntry = function(index) {
					siq.panelNum = index;
					var id = siq.data[index].id;
					$http.get('http://localhost:3000/api/entries/' + id)
							.then(function(response){
								siq.data[index] = response.data;
							});
				}

				siq.deleteEntry = function(index){
					var id = siq.data[index].id;
					siq.data.splice(index, 1);
					$http.delete('http://localhost:3000/api/entries/' + id);
				}

				siq.postEntry = function(subject, content){
					// {"subject":"Two","content":"content2"}
					var entry = {};
					entry.subject = subject;
					entry.content = content;
					$http.post('http://localhost:3000/api/entries', entry)
					.then(function(res) {
					    // this callback will be called asynchronously
					    // when the response is available

					    console.log("Success: " + res.data);
					    entry.id = res.data;
					    siq.data.push(entry);
					}, function(res) {
					    // called asynchronously if an error occurs
					    // or server returns response with an error status.
					    console.log("Error: " + res.data);
					});
				}
			});
		</script>
	</body>
</html>